{% extends 'base.html' %} {% load static %} {% block content %}
<head>
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'app/coffee_list.css' %}"
  />
</head>
<ul id="coffee-list">
  {% for coffee in coffees %}
  <li class="coffee-item">
    {{ coffee.name }} - ${{ coffee.price }}

    <form action="{% url 'buy_coffee' coffee.id %}" method="POST">
      {% csrf_token %}
      <button>Buy {{ coffee.name }}</button>
    </form>
  </li>
  {% endfor %}
</ul>
{% endblock content %}
